{% extends '../base.html' %}

{% load crispy_forms_tags %}
{% load emsapp_extras %}

{% block title %}Equipment List{% endblock %}

{% block content %}
{% if form %}
<div class="modal fade bd-example-modal-lg" id="e-create-modal" tabindex="1" role="dialog" aria-labelledby="Create" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <form id="e-post-form" method="post" novalidate enctype="multipart/form-data">

            {% csrf_token %}

                <div class="modal-header bg-danger">
                    <h5 class="modal-title text-white" id="create-label">Create</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.EquipmentNo|tabindex:1|as_crispy_field }}
                            {{ form.AssetNo|tabindex:4|as_crispy_field }}
                            {{ form.NonStockNo|tabindex:7|as_crispy_field }}
                            {{ form.Name|tabindex:10|as_crispy_field }}
                            {{ form.EquipmentOwnerID|tabindex:13|as_crispy_field }}
                            {{ form.TeamGroup|tabindex:16|as_crispy_field }}
                            {{ form.EquipmentGroup|tabindex:19|as_crispy_field }}
                            {{ form.Site|tabindex:22|as_crispy_field }}
                            {{ form.Length|tabindex:25|as_crispy_field }}
                            {{ form.Weight|tabindex:28|as_crispy_field }}
                            {{ form.ChDescription|tabindex:31|as_crispy_field }}
                            {{ form.Specification|tabindex:34|as_crispy_field }}
                            
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.LastModifyUser|tabindex:2|as_crispy_field }}
                            {{ form.ToolingNo|tabindex:5|as_crispy_field }}
                            {{ form.LastCalibratedDate|tabindex:8|as_crispy_field }}
                            {{ form.EnName|tabindex:11|as_crispy_field }}
                            {{ form.EquipmentOwnerName|tabindex:14|as_crispy_field }}
                            {{ form.ToolingGroup|tabindex:17|as_crispy_field }}
                            {{ form.Location|tabindex:20|as_crispy_field }}
                            {{ form.ProdVendor|tabindex:23|as_crispy_field }}
                            {{ form.Width|tabindex:26|as_crispy_field }}
                            {{ form.Status|tabindex:29|as_crispy_field }}
                            {{ form.EnDescription|tabindex:32|as_crispy_field }}
                            {{ form.Limitations|tabindex:35|as_crispy_field }}
                            
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.LastModifyDate|tabindex:3|as_crispy_field }}
                            {{ form.ModuleNo|tabindex:6|as_crispy_field }}
                            {{ form.NextCalibratedDate|tabindex:9|as_crispy_field }}
                            {{ form.SerialNumber|tabindex:12|as_crispy_field }}
                            {{ form.EquipmentType|tabindex:15|as_crispy_field }}
                            {{ form.PhotoLink|tabindex:18|as_crispy_field }}
                            {{ form.CreateUser|tabindex:21|as_crispy_field }}
                            {{ form.CreateDate|tabindex:24|as_crispy_field }}
                            {{ form.Height|tabindex:27|as_crispy_field }}
                            {{ form.LimitFreezeQnty|tabindex:30|as_crispy_field }}
                            {{ form.Cost|tabindex:33|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% include './equipmentlist.html' %}
{% endblock %}

{% block js%}
<script type='text/javascript'>
$( document ).ready(function() {
    $('#div_id_EquipmentType').attr('style', 'height: 70px;');
    $('#div_id_PhotoLink').attr('style', 'height: 70px;');
});
{% if form.errors %}
    $('#e-create-modal').modal('show')
{% endif %}
</script>
{% endblock %}