{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block title %}Equipment List Search{% endblock %}

{% block content %}
<div class="modal fade" id="e-search-modal" tabindex="-1" role="dialog" aria-labelledby="Create" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="e-search-form" class="mb-0" method="GET" action="/emsapp/equipmentlist/search">
                <div class="modal-header pink">
                    <h5 class="modal-title text-white" id="create-label">Search</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label for="message-text" class="col-form-label">Asset No</label>
                            <input type="text" id="search-owner-name" class="form-control" name="assetNo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Equipment Eng Name</label>
                            <input type="text" id="search-eq-name" class="form-control" name="enName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Status</label>
                            <input type="text" id="search-eq-name" class="form-control" name="status" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Team Group</label>
                            <input type="text" id="search-team-group" class="form-control" name="teamGroup" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="col-sm-4">
                            <label for="message-text" class="col-form-label">Tool No</label>
                            <input type="text" id="search-owner-name" class="form-control" name="toolNo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Owner Name</label>
                            <input type="text" id="search-en-name" class="form-control" name="ownerName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Location</label>
                            <input type="text" id="search-location" class="form-control" name="location" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Equipment Group</label>
                            <input type="text" id="search-equipment-group" class="form-control" name="equipmentGroup" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="col-sm-4">
                            <label for="message-text" class="col-form-label">NonStock No</label>
                            <input type="text" id="search-owner-name" class="form-control" name="nonStockNo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Site</label>
                            <input type="text" id="search-site" class="form-control" name="site" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Type</label>
                            <input type="text" id="search-others" class="form-control" name="type" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <label for="message-text" class="col-form-label">Tooling Group</label>
                            <input type="text" id="search-tooling-group" class="form-control" name="toolingGroup" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-pink">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include './equipmentlist.html'%}

{% endblock%}

{% block js%}
<script type='text/javascript'>
$(document).ready(function(e) {
    $('#e-search-modal').modal('show');
    $('#e-search-modal').on('hidden.bs.modal', function(e) {
        window.location.href = '/emsapp/equipmentlist';
    });
});
</script>

{% endblock %}