{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block title %}Equipment List Calibration Check{% endblock %}

{% load static %}

{% block css %}
<style>
label {
    display: none;
}
.form-group {
    margin-bottom: 0;
}
</style>
{% endblock %}

{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4">
            <a class="navbar-brand font-weight-bold my-2" href="/emsapp/home/asset">
                <i class="fas fa-warehouse mr-4"></i>MIKI
            </a>
            <ul class="list-unstyled components mb-5">
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/home/asset">
                  <i class="fas fa-eye pr-3"></i>Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/equipmentlist">
                  <i class="fas fa-cog pr-3"></i>Equipments
                </a>
              </li>
              <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-th-list pr-3"></i></i>Ticket Records
                </a>
                <ul class="pl-3 collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a class="nav-link" href="/emsapp/assetloanrecord">
                      <i class="fas fa-money-check-alt pr-3"></i>A. Loan
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/toolingcalibrationrecord">
                      <i class="fas fa-wrench pr-3"></i>T. Calibration
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/nonstocktransactionrecord">
                      <i class="fas fa-archive pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/transactionrecord">
                      <i class="fas fa-cube pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item active font-weight-bold">
                <a href="#select-multi-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-check-double pr-3"></i>Select Multi
                </a>
                <ul class="pl-3 collapse list-unstyled" id="select-multi-menu">
                  <li class="nav-item font-weight-bold">
                    <a href="/emsapp/equipmentlist/asset/check">
                      <i class="fas fa-arrow-alt-circle-right pr-3"></i>Loan
                    </a>
                  </li>
                  <li class="nav-item font-weight-light">
                    <a href="/emsapp/equipmentlist/tool/check">
                      <i class="fas fa-tools pr-3"></i>Calib
                    </a>
                  </li>
                  <li class="nav-item font-weight-light">
                    <a href="/emsapp/equipmentlist/nonstock/check">
                      <i class="fas fa-truck pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li class="nav-item font-weight-light">
                    <a href="/emsapp/equipmentlist/trans/check/0">
                      <i class="fas fa-exchange-alt pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/emsapp/trashbin/equipment">
                  <i class="fas fa-dumpster pr-3"></i>Trash Bin
                </a>
              </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="teal lighten-5">
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3 mb-0">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-flex-icons ml-auto">
                        <li class="nav-item white-text my-auto">
                            <span>Hello, {{ user }}</span>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            {% if perms.emsapp.add_user and perms.emsapp.change_user and perms.emsapp.delete_user and perms.emsapp.view_user %}
                            <a class="dropdown-item" href="/admin" target="_blank">Admin Setting</a>
                            {% endif %}
                            <a class="dropdown-item" href="/emsapp/accounts/logout" onclick="return confirm('Are you sure to Log out?')">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3">
                <h3 class="ml-auto my-3 font-weight-bold">Select Multiple Assets</h3>
                </div>
                <div class="col-md-12 p-3">
                    <div class="card">
                        <div class="card-body card-body-cascade">
                            <div class="row">
                                <div class="col-md-2 my-auto">
                                    <h5 class="ml-auto my-auto font-weight-bold">Choices</h5>
                                </div>
                                <div class="col-md-8 my-auto">
                                    {% if error_msg %}
                                        {% for error in error_msg %}
                                            <div class="text-center font-weight-bold text-danger">
                                            {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="px-3 table-responsive">
                            <form method="post">
                            {% csrf_token %}
                                <table id="a-l-table" class="table table-hover" width="100%">
                                    <thead class="blue-grey darken-2 text-white">
                                        <tr>
                                            <th scope="col th-sm">AssetNo</th>
                                            <th scope="col th-sm">Location</th>
                                            <th scope="col th-sm">EnName</th>
                                            <th scope="col th-sm">LoanStartTime</th>
                                            <th scope="col th-sm">LoanEndTime</th>
                                            <th scope="col th-sm">LoanVendor</th>
                                            <th scope="col th-sm">Borrower</th>
                                            <th scope="col th-sm">L.Reason</th>
                                            <th scope="col th-sm">Check</th>
                                        </tr>
                                    </thead>
                                    <colgroup>
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 10%;">
                                        <col style="width: 15%;">
                                        <col style="width: 15%;">
                                        <col style="width: 15%;">
                                        <col style="width: 5%;">
                                    </colgroup>
                                    <tbody id="item-lists">
                                    {% if data_list %}
                                    {% for data in data_list %}
                                    {% if data.detail.AssetNo %}
                                    <tr>
                                        <td class="align-middle">{{ data.detail.AssetNo }}</td>
                                        <td class="align-middle">{{ data.detail.Location }}</td>
                                        <td class="align-middle">{{ data.detail.EnName }}</td>
                                        <td class="align-middle {{ data.detail.EquipmentNo }}">{{ form.LoanStartTime|as_crispy_field }}</td>
                                        <td class="align-middle {{ data.detail.EquipmentNo }}">{{ form.LoanEndTime|as_crispy_field }}</td>
                                        <td class="align-middle {{ data.detail.EquipmentNo }}">{{ form.LoanVendor|as_crispy_field }}</td>
                                        <td class="align-middle {{ data.detail.EquipmentNo }}">{{ form.Borrower|as_crispy_field }}</td>
                                        <td class="align-middle {{ data.detail.EquipmentNo }}">{{ form.LoanReason|as_crispy_field }}</td>
                                        <td class="align-middle"><input id="{{ data.detail.EquipmentNo }}" type="checkbox" name="EquipmentNo" value="{{ data.detail.EquipmentNo }}"></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
    $('select').prop('disabled', 'disabled');
    $('input[type="text"]').prop('disabled', 'disabled');
    $('#a-l-table').dataTable({
        'pagingType': 'simple_numbers'
    });
});
$('input[type=checkbox]').click(function(){
    var checkBoxID = $(this).attr('id')
    var loanStartTime = $(`.${checkBoxID}`).find('input[name="LoanStartTime"]')
    var loanEndTime = $(`.${checkBoxID}`).find('input[name="LoanEndTime"]')
    var vendorSelect = $(`.${checkBoxID}`).find('select[name="LoanVendor"]')
    var borrowerSelect = $(`.${checkBoxID}`).find('select[name="Borrower"]')
    var loanReason = $(`.${checkBoxID}`).find('input[name="LoanReason"]')
    if ($(this).prop('checked')) {
        loanStartTime.prop('disabled', false);
        loanEndTime.prop('disabled', false);
        vendorSelect.prop('disabled', false);
        borrowerSelect.prop('disabled', false);
        loanReason.prop('disabled', false);
    }
    else {
        loanStartTime.prop('disabled', 'disabled');
        loanEndTime.prop('disabled', 'disabled');
        vendorSelect.prop('disabled', 'disabled');
        borrowerSelect.prop('disabled', 'disabled');
        loanReason.prop('disabled', 'disabled');
    }
})
</script>
{% endblock %}
