{% extends '../base.html' %}

{% load crispy_forms_tags %}
{% load emsapp_extras %}

{% block title %}Tooling Calibration Update{% endblock %}

{% block content %}
<div class="modal fade bd-example-modal-lg" id="t-update-modal" tabindex="-1" role="dialog" aria-labelledby="Update" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="t-update-form" method="post" novalidate enctype="multipart/form-data">

            {% comment %} csrf_token must be inside form {% endcomment %}
            {% csrf_token %} 

                <div class="modal-header amber">
                    <h5 class="modal-title text-white" id="t-calibrate-label">Cali Update</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.CalibratedTicketNo|tabindex:1|as_crispy_field }}
                            {{ form.Name|tabindex:4|as_crispy_field }}
                            {{ form.ProdVendor|tabindex:7|as_crispy_field }}
                            {{ form.CalibratedTicketCreateDate|tabindex:10|as_crispy_field }}
                            {{ form.LastDueDate|tabindex:13|as_crispy_field }}
                            {{ form.UnitPrice|tabindex:16|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.EquipmentNo|tabindex:2|as_crispy_field }}
                            {{ form.EnName|tabindex:5|as_crispy_field }}
                            {{ form.Location|tabindex:8|as_crispy_field }}
                            {{ form.CalibratedStartTime|tabindex:11|as_crispy_field }}
                            {{ form.NextDueDate|tabindex:14|as_crispy_field }}
                            {{ form.CalibratedCost|tabindex:17|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.ToolingNo|tabindex:3|as_crispy_field }}
                            {{ form.ModuleNo|tabindex:6|as_crispy_field }}
                            {{ form.PhotoLink|tabindex:9|as_crispy_field }}
                            {{ form.CaliVendor|as_crispy_field }}
                            {{ form.ExpectedCalibratedEndTime|tabindex:12|as_crispy_field }}
                            {{ form.Comment|tabindex:15|as_crispy_field }}
                            {{ form.CalibratedReport|tabindex:18|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="location.href='/emsapp/toolingcalibrationrecord'" type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-amber">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include './toolingcalibrationrecord.html' %}
{% endblock %}

{% block js%}
<script>
$(document).ready(function() {
    $('#div_id_CalibratedReport a').attr('style', 'color: blue;');
    $('#div_id_CalibratedReport input[name="CalibratedReport-clear"]').attr('style', 'display: none;');
    $('#div_id_CalibratedReport label[for="CalibratedReport-clear_id"]').attr('style', 'display: none;');
    $('#t-update-modal').modal('show');
    $('#t-update-modal').on('hidden.bs.modal', function(e) {
        window.location.href = '/emsapp/toolingcalibrationrecord';
    });
})
</script>
{% endblock %}
