{% extends '../base.html' %}

{% block title %}Tool Calibration Detail{% endblock %}

{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4">
            <a class="navbar-brand font-weight-bold my-2" href="/emsapp/home/asset">
                <i class="fas fa-warehouse mr-4"></i>EMS
            </a>
            <ul class="list-unstyled components mb-5">
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/home/asset">
                  <i class="fas fa-eye pr-3"></i>Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/equipmentlist">
                  <i class="fas fa-cog pr-3"></i>Equipments
                </a>
              </li>
              <li class="nav-item active font-weight-bold">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-th-list pr-3"></i></i>Ticket Records
                </a>
                <ul class="pl-3 collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a class="nav-link font-weight-light" href="/emsapp/assetloanrecord">
                      <i class="fas fa-money-check-alt pr-3"></i>A. Loan
                    </a>
                  </li>
                  <li>
                    <a class="nav-link font-weight-bold" href="/emsapp/toolingcalibrationrecord">
                      <i class="fas fa-wrench pr-3"></i>T. Calibration
                    </a>
                  </li>
                  <li>
                    <a class="nav-link font-weight-light" href="/emsapp/nonstocktransactionrecord">
                      <i class="fas fa-archive pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a class="nav-link font-weight-light" href="/emsapp/transactionrecord">
                      <i class="fas fa-cube pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              {% if perms.emsapp.add_equipmentlist and perms.emsapp.add_assetloanrecord and perms.emsapp.add_toolingcalibrationrecord and perms.emsapp.add_nonstocktransactionrecord%}
              <li class="nav-item">
                <a href="#select-multi-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-check-double pr-3"></i>Select Multi
                </a>
                <ul class="pl-3 collapse list-unstyled" id="select-multi-menu">
                  <li>
                    <a href="/emsapp/equipmentlist/asset/check" id="e-calicheck-button">
                      <i class="fas fa-arrow-alt-circle-right pr-3"></i>Loan
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/tool/check">
                      <i class="fas fa-tools pr-3"></i>Calib
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/nonstock/check">
                      <i class="fas fa-truck pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/trans/check/0">
                      <i class="fas fa-exchange-alt pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
              <li>
                <a href="/emsapp/trashbin/equipment">
                  <i class="fas fa-dumpster pr-3"></i>Trash Bin
                </a>
              </li>
            </ul>
        </div>
    </nav>
            {% comment %} <div class="btn-group mr-2 px-3" role="group" aria-label="First group">
                <button onclick="location.href='/emsapp/toolingcalibrationrecord/form'" id="t-calibrate-button" type="button" class="btn btn-amber">
                    <i class="fas fa-plus pr-2"></i>Calibrate
                </button>
            </div> {% endcomment %}
    <div id="content" class="teal lighten-5">
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3 mb-0">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button onclick="location.href='/emsapp/equipmentlist/search'" type="button" class="btn btn-white ml-auto mx-3 px-4 py-2">
                        <i class="fas fa-search"></i>
                    </button>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item white-text my-auto">
                            <span>Hello, {{ user }}</span>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="/emsapp/profile">Profile</a>
                            <a class="dropdown-item" href="/emsapp/accounts/logout" onclick="return confirm('Are you sure to Log out?')">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-7 my-3">
                    <h3 class="ml-auto my-3 font-weight-bold">Tool Detail</h3>
                </div>
                <div class="col-md-5 my-auto d-flex justify-content-end">
                    {% if perms.emsapp.delete_toolingcalibrationrecord and perms.emsapp.change_toolingcalibrationrecord%}
                        <button class="btn btn-dark">
                            <a href="{% url 'emsapp:toolingCalibrationUpdate' toolingcalibrationrecord.TicketNo %}">
                                <i class="fas fa-pen-square"></i>
                            </a>
                        </button>
                        <button class="btn btn-dark">
                            <a href="{% url 'emsapp:toolingCalibrationDelete' toolingcalibrationrecord.TicketNo %}" onclick="return confirm('Are you sure to delete this row?')"> 
                                <i class="fas fa-trash"></i>
                            </a>
                        </button>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body card-body-cascade">
                            <div class="row">
                                <div class="col-md-5 mx-3 my-3">
                                    <div class="view overlay">
                                        <img src="/static/emsapp/img/screw.jpg" class="img-fluid" alt="img of {{ toolingcalibrationrecord.EquipmentNo }}">
                                    </div>
                                </div>
                                <div class="col-md-5 text-md-left ml-3 mt-3">
                                    <span>Name</span>
                                    <p class="h4 font-weight-bold mb-4">{{ toolingcalibrationrecord.Name }}</p>
                                    <span>English Name</sapn>
                                    <p class="h4 font-weight-bold mb-4">{{ toolingcalibrationrecord.EnName }}</p>
                                    <span>Tooling No</sapn>
                                    <p class="h4 font-weight-bold mb-4">{{ toolingcalibrationrecord.ToolingNo }}</p>
                                    <span>Calibrated Start Time</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CalibratedStartTime }}</p>
                                    <span>Calibrated End Time</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CalibratedEndTime }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body card-body-cascade">
                        <h5 class="ml-auto mb-3 font-weight-bold">Full Detail</h5>
                            <div class="row">
                                <div class="col-md-4 text-md-left">
                                    <span>Calibrated Ticket No</sapn>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CalibratedTicketNo }}</p>
                                    <span>Equipment No</sapn>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.EquipmentNo }}</p>
                                    <span>Module No</sapn>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.ModuleNo }}</p>
                                    <span>Location</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.Location }}</p>
                                    <span>ProdVendor</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.ProdVendor }}</p>
                                    <span>CaliVendor</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CaliVendor }}</p>
                                </div>
                                <div class="col-md-4 text-md-left">
                                    <span>MQ Start Time</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.MQStartTime }}</p>
                                    <span>MQ End Time</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.MQEndTime }}</p>
                                    <span>Unit Price</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.UnitPrice }}</p>
                                    <span>Last Due Date</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.LastDueDate }}</p>
                                    <span>Next Due Date</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.NextDueDate }}</p>
                                    <span>Calibrated Ticket Create Date</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CalibratedTicketCrateDate }}</p>
                                </div>
                                <div class="col-md-4 text-md-left">
                                    <span>Calibrated Cost</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CalibratedCost }}</p>
                                    <span>Alert Time</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.AlertTime }}</p>
                                    <span>Avg Calibrated Period</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.AvgCalibratedPeriod }}</p>
                                    <span>Calibrated Report</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.CalibratedReport }}</p>
                                    <span>Photo Link</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.PhotoLink }}</p>
                                    <span>Comment</span>
                                    <p class="font-weight-bold">{{ toolingcalibrationrecord.Comment }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
