{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block title %}TrashBin Asset Search{% endblock %}

{% block content %}
<div class="modal fade" id="a-trash-search-modal" tabindex="-1" role="dialog" aria-labelledby="Create" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="a-trash-search-form" class="mb-0" method="GET" action="/emsapp/trashbin/asset/search">
                <div class="modal-header pink">
                    <h5 class="modal-title text-white" id="create-label">Search</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label for="message-text" class="col-form-label">Asset No</label>
                            <input type="text" id="search-owner-name" class="form-control" name="assetNo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="col-sm-4">
                            <label for="message-text" class="col-form-label">Loan Vendor</label>
                            <input type="text" id="search-loan-vendor" class="form-control" name="loanVendor" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="col-sm-4">
                            <label for="message-text" class="col-form-label">Location</label>
                            <input type="text" id="search-location" class="form-control" name="location" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-pink">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include './asset.html'%}

{% endblock%}

{% block js%}
<script type='text/javascript'>
$(document).ready(function(e) {
    $('#a-trash-search-modal').modal('show');
    $('#a-trash-search-modal').on('hidden.bs.modal', function(e) {
        window.location.href = '/emsapp/trashbin/asset';
    });
});
</script>

{% endblock %}