{% extends '../base.html'%}

{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4">
            <a class="navbar-brand font-weight-bold my-2" href="/emsapp/home/asset">
                <i class="fas fa-warehouse mr-4"></i>MIKI
            </a>
            <ul class="list-unstyled components mb-5">
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/home/asset">
                  <i class="fas fa-eye pr-3"></i>Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/equipmentlist">
                  <i class="fas fa-cog pr-3"></i>Equipments
                </a>
              </li>
              <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-th-list pr-3"></i></i>Ticket Records
                </a>
                <ul class="pl-3 collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a class="nav-link" href="/emsapp/assetloanrecord">
                      <i class="fas fa-money-check-alt pr-3"></i>A. Loan
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/toolingcalibrationrecord">
                      <i class="fas fa-wrench pr-3"></i>T. Calibration
                    </a>
                  </li>
                  <li>
                    <a class="nav-link font-weight-light" href="/emsapp/nonstocktransactionrecord">
                      <i class="fas fa-archive pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a class="nav-link font-weight-bold" href="/emsapp/transactionrecord">
                      <i class="fas fa-cube pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              {% if perms.emsapp.add_equipmentlist and perms.emsapp.add_assetloanrecord and perms.emsapp.add_toolingcalibrationrecord and perms.emsapp.add_nonstocktransactionrecord%}
              <li class="nav-item">
                <a href="#select-multi-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-check-double pr-3"></i>Select Multi
                </a>
                <ul class="pl-3 collapse list-unstyled" id="select-multi-menu">
                  <li>
                    <a href="/emsapp/equipmentlist/asset/check">
                      <i class="fas fa-arrow-alt-circle-right pr-3"></i>Loan
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/tool/check">
                      <i class="fas fa-tools pr-3"></i>Calib
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/nonstock/check">
                      <i class="fas fa-truck pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/trans/check/0">
                      <i class="fas fa-exchange-alt pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
              <li class="active font-weight-bold">
                <a href="/emsapp/trashbin/equipment">
                  <i class="fas fa-dumpster pr-3"></i>Trash Bin
                </a>
              </li>
            </ul>
        </div>
    </nav>
    
    <div id="content" class="teal lighten-5">
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3 mb-0">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button onclick="location.href='/emsapp/trashbin/nonstock/search'" type="button" class="btn btn-white ml-auto mx-3 px-4 py-2">
                        <i class="fas fa-search"></i>
                    </button>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item white-text my-auto">
                            <span>Hello, {{ user }}</span>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            {% if perms.emsapp.add_user and perms.emsapp.change_user and perms.emsapp.delete_user and perms.emsapp.view_user %}
                            <a class="dropdown-item" href="/admin" target="_blank">Admin Setting</a>
                            {% endif %}
                            <a class="dropdown-item" href="/emsapp/accounts/logout" onclick="return confirm('Are you sure to Log out?')">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-7 my-3">
                    <h3 class="ml-auto my-3 font-weight-bold">Trash Bin</h3>
                </div>
                <div class="col-md-5 my-auto d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button onclick="location.href='/emsapp/trashbin/equipment'" type="button" class="btn btn-teal py-2 px-3">
                            Equipment
                        </button>
                    </div>
                    <div class="btn-group ml-3" role="group" aria-label="Second group">
                        <button onclick="location.href='/emsapp/trashbin/asset'" type="button" class="btn btn-green py-2 px-3">
                            A.Loan
                        </button>
                    </div>
                    <div class="btn-group ml-3" role="group" aria-label="Third group">
                        <button onclick="location.href='/emsapp/trashbin/tool'" type="button" class="btn btn-light-green py-2 px-3">
                            T.Cali
                        </button>
                    </div>
                    <div class="btn-group ml-3" role="group" aria-label="Fourth group">
                        <button onclick="location.href='/emsapp/trashbin/nonstock'" type="button" class="btn btn-lime py-2 px-3">
                            N.Trans
                        </button>
                    </div>
                    <div class="btn-group ml-3" role="group" aria-label="Fifth group">
                        <button onclick="location.href='/emsapp/trashbin/trans'" type="button" class="btn btn-yellow py-2 px-3">
                            Trans
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body card-body-cascade">
                            <div class="row">
                                <div class="col-md-7 my-auto">
                                    <h5 class="ml-auto my-auto font-weight-bold">Transaction</h5>
                                </div>
                            </div>
                        </div>
                        <div class="px-3 table-responsive">
                            <table id="trash-tr-table" class="table table-hover" width="100%">
                                <thead class="yellow darken-3 text-white">
                                    <tr>
                                    <th scope="col th-sm">#</th>
                                    <th scope="col th-sm">T.R. No</th>
                                    <th scope="col th-sm">TransFrom</th>
                                    <th scope="col th-sm">TransTo</th>
                                    <th scope="col th-sm">TruckType</th>
                                    <th scope="col th-sm">TransReqUser</th>
                                    <th scope="col th-sm">Det.</th>
                                    {% if perms.emsapp.delete_transactionrecord and perms.emsapp.change_transactionrecord %}
                                    <th scope="col th-sm">Rec.</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody id="item-lists">
                                {% if transaction_record %}
                                {% for trans in transaction_record %}
                                <tr>
                                <th scope="row" class="align-middle">{{ trans.TicketNo }}</th>
                                    <td class="align-middle">{{ trans.TransactionTicketNo }}</td>
                                    <td class="align-middle">{{ trans.TransactionFrom }}</td>
                                    <td class="align-middle">{{ trans.TransactionTo }}</td>
                                    <td class="align-middle">{{ trans.TruckType }}</td>
                                    <td class="align-middle">{{ trans.TransactionReqUser }}</td>
                                    <td class="align-middle">
                                        <a href="{% url 'emsapp:transDetail' trans.TicketNo %}">
                                            <i class="fas fa-file-alt"></i>
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'emsapp:transRecovery' trans.TicketNo %}" onclick="return alert('Recovery Success!')">
                                            <i class="fas fa-redo-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% elif qs %}
                                {% for q in qs %}
                                <tr>
                                <th scope="row" class="align-middle">{{ q.TicketNo }}</th>
                                    <td class="align-middle">{{ q.TransactionTicketNo }}</td>
                                    <td class="align-middle">{{ q.TransactionFrom }}</td>
                                    <td class="align-middle">{{ q.TransactionTo }}</td>
                                    <td class="align-middle">{{ q.TruckType }}</td>
                                    <td class="align-middle">{{ q.TransactionReqUser }}</td>
                                    <td class="align-middle">
                                        <a href="{% url 'emsapp:transDetail' q.TicketNo %}">
                                            <i class="fas fa-file-alt"></i>
                                        </a>
                                    </td>
                                    {% if perms.emsapp.delete_transactionrecord and perms.emsapp.change_transactionrecord %}
                                    <td class="align-middle">
                                        <a href="{% url 'emsapp:transRecovery' q.TicketNo %}" onclick="return confirm('Are you sure to recover this row?')">
                                            <i class="fas fa-redo-alt"></i>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function () {
    $('#trash-tr-table').DataTable({
        'pagingType': 'simple_numbers'
    });
});
</script>
{% endblock %}
