{% extends '../base.html' %}

{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4">
            <a class="navbar-brand font-weight-bold my-2" href="/emsapp/home/asset">
                <i class="fas fa-warehouse mr-4"></i>EMS
            </a>
            <ul class="list-unstyled components mb-5">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" href="/emsapp/home/asset">
                  <i class="fas fa-eye pr-3"></i>Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/emsapp/equipmentlist">
                  <i class="fas fa-cog pr-3"></i>Equipments
                </a>
              </li>
              <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-th-list pr-3"></i></i>Ticket Records
                </a>
                <ul class="pl-3 collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a class="nav-link" href="/emsapp/assetloanrecord">
                      <i class="fas fa-money-check-alt pr-3"></i>A. Loan
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/toolingcalibrationrecord">
                      <i class="fas fa-wrench pr-3"></i>T. Calibration
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/nonstocktransactionrecord">
                      <i class="fas fa-archive pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/emsapp/transactionrecord">
                      <i class="fas fa-cube pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              {% if perms.emsapp.add_equipmentlist and perms.emsapp.add_assetloanrecord and perms.emsapp.add_toolingcalibrationrecord and perms.emsapp.add_nonstocktransactionrecord%}
              <li class="nav-item">
                <a href="#select-multi-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-check-double pr-3"></i>Select Multi
                </a>
                <ul class="pl-3 collapse list-unstyled" id="select-multi-menu">
                  <li>
                    <a href="/emsapp/equipmentlist/asset/check" id="e-calicheck-button">
                      <i class="fas fa-arrow-alt-circle-right pr-3"></i>Loan
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/tool/check">
                      <i class="fas fa-tools pr-3"></i>Calib
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/nonstock/check">
                      <i class="fas fa-truck pr-3"></i>N.S. Trans
                    </a>
                  </li>
                  <li>
                    <a href="/emsapp/equipmentlist/trans/check/0">
                      <i class="fas fa-exchange-alt pr-3"></i>Trans
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
              <li>
                <a href="/emsapp/trashbin/equipment">
                  <i class="fas fa-dumpster pr-3"></i>Trash Bin
                </a>
              </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="teal lighten-5">
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3 mb-0">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="ml-auto navbar-nav nav-flex-icons">
                      <li class="nav-item white-text my-auto">
                          <span>Hello, {{ user }}</span>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-user"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-default"
                          aria-labelledby="navbarDropdownMenuLink-333">
                          {% if perms.emsapp.add_user and perms.emsapp.change_user and perms.emsapp.delete_user and perms.emsapp.view_user %}
                            <a class="dropdown-item" href="/admin">Admin Setting</a>
                            {% endif %}
                          <a class="dropdown-item" href="/emsapp/accounts/logout" onclick="return confirm('Are you sure to Log out?')">Logout</a>
                          </div>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-md-7 my-3">
              <h3 class="ml-auto my-3 font-weight-bold">Tool Overview</h3>
            </div>
            <div class="col-md-5 my-auto d-flex justify-content-end">
              <div class="btn-group" role="group" aria-label="First group">
                <button onclick="location.href='/emsapp/home/asset'" id="e-create-button" type="button" class="btn btn-deep-orange py-2 px-3" data-toggle="modal" data-target="#e-create-modal">
                  Asset
                </button>
              </div>
              <div class="btn-group ml-3" role="group" aria-label="Second group">
                <button onclick="location.href='/emsapp/home/tool'" id="e-create-button" type="button" class="btn btn-orange py-2 px-3" data-toggle="modal" data-target="#e-create-modal">
                  Tool
                </button>
              </div>
              <div class="btn-group ml-3" role="group" aria-label="Third group">
                <button onclick="location.href='/emsapp/home/nonstock'" id="e-id-export" type="button" class="btn btn-amber py-2 px-3">
                  NonS
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card h-100">
                <div class="card-body card-body-cascade text-center">
                  <h1 class="font-weight-bold py-5 mb-0">{{ data.t_amount }}</h1>
                  <p class="card-text mb-1">tool(s) in total</p>
                  <h5 class="font-weight-bold card-title mt-4">Amount</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card h-100">
                <div class="card-body card-body-cascade text-center mt-2 px-0 py-auto">
                  <div class="view view-cascade">
                    <canvas id="tool-pie-chart"></canvas>
                  </div>
                  <h5 class="font-weight-bold card-title mt-4">Location</ht>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row my-5">
            <div class="col-md-12">
              <div class="card h-100">
                <div class="card-body card-body-cascade">
                  <h5 class="ml-auto mb-3 font-weight-bold">Reminder</h5>
                    <div class="px-3 table-responsive">
                      <table id="overview-t-table" class="table table-hover" width="100%">
                        <thead class="text-white orange">
                          <tr>
                            <th scope="col th-sm">ToolingNo</th>
                            <th scope="col th-sm">Date</th>
                          </tr>
                        </thead>
                        <tbody id="item-lists">
                        {% for tool in data.Tool %}
                        {% if tool.Date < 0 %}
                        <tr class="orange lighten-4">
                          <th scope="row">{{ tool.No }}</th>
                          <td>{{ tool.Date }}</td>
                        </tr>
                        {% else %}
                        <tr>
                          <th scope="row">{{ tool.No }}</th>
                          <td>{{ tool.Date }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row my-5">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body card-body-cascade">
                    <h5 class="ml-auto mb-3 font-weight-bold">Monthly Qnty Report</h5>
                    <div style="width:75%;">
                      <canvas id="canvas"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#overview-t-table').DataTable({
        'pagingType': 'simple_numbers',
        "pageLength": 2
    });
  });
  var toolConfig = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ data.t_location }},
        backgroundColor: [
          '#ff9800', '#ffa726', '#ffb74d', '#ffcc80', '#ffe0b2'
        ],
        label: 'Tool Location'
      }],
      labels: {{ labels.Location|safe }}
    },
    options: {
      responsive: true,
      onHover: (event, chartElement) => {
        event.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
      }
    }
  };
  window.onload = function() {
    var ctx = document.getElementById('tool-pie-chart').getContext('2d');
    window.toolPie = new Chart(ctx, toolConfig);
    var lineCtx = document.getElementById('canvas').getContext('2d');
		window.myLine = new Chart(lineCtx, lineConfig);
  };
  $('#tool-pie-chart').click(function(e) {
    var activePoints = toolPie.getElementsAtEvent(e);
    var query = toolPie.data.labels[activePoints[0]._index]
    location.href = '/emsapp/equipmentlist/search/?assetNo=&enName=&status=&toolNo=&ownerName=&location='+query+'&nonStockNo=&site=&type=Tool'
    // => activePoints is an array of points on the canvas that are at the same position as the click event.
  });
  var lineConfig = {
		type: 'line',
		data: {
			labels: {{ labels.t_lineX|safe }},
			datasets: [{
				label: 'Filled',
				backgroundColor: ['#ff9800'],
				borderColor: ['#ff9800'],
				data: {{ data.t_lineY }},
				fill: true,
			}]
		},
		options: {
			responsive: true,
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				x: {
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Month'
					}
				},
				y: {
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				},
        xAxes: [{
          gridLines: {
            display: false,
            drawOnChartArea: false,
            drawTicks: false
          }
        }],
        yAxes: [{
          gridLines: {
            display: false,
            drawOnChartArea: false,
            drawTicks: false
          }
        }]
			}
		}
	};
</script>

{% endblock %}